h1, h3 {
  text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
li {
    text-align: center;
    font-style:italic;
    margin: 10px;
    font-weight: bolder;
    
}
div {
    padding: 25px;
    border: 3px solid blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(226, 143, 17);
    opacity: .8 ;
    
}
img {
    border-radius: 50px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
body {
    background-image: url(https://user-images.githubusercontent.com/21232416/154744237-3bf21a83-d270-4268-954d-4b6f4b481ee7.gif);
}

https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.pX32shC0sO6Fz5v5TGgC1AHaJQ%26pid%3DApi&f=1